<template>
<div id="app">
    <div class="app-layout">

        <div class="app-layout-topbar">
            <app-toolbar></app-toolbar>
        </div>

        <div class="app-layout-inner">            
            <router-view></router-view>
        </div>
       
    </div>
</div>
</template>

<script>
import AppToolbar from '../AppToolbar'

export default {
    name: 'App',
    data() {
        return {
            
        }
    },
    methods: {
        
    },
    components: {
        AppToolbar
    }
}
</script>

<style lang="scss">
    @import '../../../sass/variables';
    @import './style.scss';
</style>