#app {
	height: 100vh; 
}

.app-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-layout-topbar {
	height: $toolbar-height;
}

.app-layout-inner {
	position: relative;
	flex: 1 0 0px;
	overflow: hidden;
}