<template>

  <div>

    <!-- <aside>

      <pagesList/>

    </aside>  

    <content>rrr</content> -->

  </div>

</template>

<script>
  // import Vue from 'vue'
  // import { events, REMOTE_PAGE_CREATED, REMOTE_PAGE_UPDATED, REMOTE_PAGE_DELETED } from '../../utils/events';

  // Vue.component('pagesList', require('./list'))

  export default {
    data () {
      return {
        
      }
    },
    // created() {
    //   console.log('created');
    //   this.initProjectEventsListener();
    // },
    // beforeDestroy() {
    //   console.log('beforeDestroy');
    //   this.destroyProjectEventsListener();
    // },
    methods: {

      // channel() {
      //     return 'project.' + this.$store.state.projects.currentProjectId;
      // },

      // initProjectEventsListener() {
      //   Echo.private(this.channel())
      //     .listen('Page.Created', (payload) => {
      //         events.emit(REMOTE_PAGE_CREATED, payload);
      //     })
      //     .listen('Page.Updated', (payload) => {
      //         events.emit(REMOTE_PAGE_UPDATED, payload);
      //     })
      //     .listen('Page.Deleted', (payload) => {
      //         events.emit(REMOTE_PAGE_DELETED, payload);
      //     }); 
      // },

      // destroyProjectEventsListener() {
      //   Echo.leave(this.channel());
      // }

    }
  }

</script>


<style lang="scss">

  /*@import "./../../../sass/variables";

  aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
  }

  content {
    margin-left: 220px;
  }*/
</style>