<template>

<div>


  <el-menu theme="dark" :default-openeds="['1']">

    <el-submenu index="1">

      <template slot="title"><i class="el-icon-menu"></i>Pages</template>

      <el-submenu v-for="page in pages" :index="'1-' + page.id">
        <template slot="title">{{ page.title }}</template>
        <el-menu-item :index="'1-' + page.id + '1'">Mobile</el-menu-item>
        <el-menu-item :index="'1-' + page.id + '2'">Tablet</el-menu-item>
        <el-menu-item :index="'1-' + page.id + '3'">Desktop</el-menu-item>
      </el-submenu>

    </el-submenu>

    <el-menu-item index="add" @click="handleCreate">
      <i class="el-icon-plus "></i>Add page
    </el-menu-item>

  </el-menu> 

  
  <el-dialog :title="formTitle" v-model="formVisible" size="tiny">
      
    <el-form v-model="editablePage" v-on:submit.prevent>

      <input type="hidden" v-model="editablePage.id">

      <el-form-item label="Title">
        <el-input placeholder="page title" v-model="editablePage.title"></el-input>
      </el-form-item>

    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button @click="handleClose">Cancel</el-button>
      <el-button type="primary" @click="handleSave">Save</el-button>
    </span>

  </el-dialog>


</div>

</template>

<script>
  //import Vue from 'vue'
  import pagesApi from './../../api/page';
  import { events, PROJECT_SWITHED } from '../../utils/events';
  

  export default {
    data () {
      return {
        formVisible: false,
        editablePage: {}
      }
    },
    computed: {
      pages() {
        return this.$store.state.pages.all;//state.pages.all
      },
      formTitle() { 
        return this.editablePage.id ? 'Edit page' : 'Add page';
      }
    },
    created() {
      console.log('created list');
      // this.loadPages();
    },
    mounted() {
      this.loadPages();
      console.log('mounted list');
    },
    updated() {
      console.log('updated list');
    },
    watch: {
      $route: 'loadPages'
    },
    methods: {

      loadPages() {
        this.$store.dispatch('loadPages', this.$store.state.projects.currentProjectId);
      },

      handleCreate() {
        this.editablePage = {};
        this.formVisible = true;
      },

      // handleEdit(i, row) {
      //   console.log('handleEdit', i, row);
      //   this.editableProject = Object.assign({}, row);
      //   this.formVisible = true;
      // },
      handleSave() {
        
        let _this = this;

        // if (this.editableProject.id) {
        //   projectsApi.updateProject(this.editableProject, function(r){
        //     _this.formVisible = false;
        //   });
        // } else {
          pagesApi.createPage(this.$store.state.projects.currentId, this.editablePage, function(r){
            _this.formVisible = false;
          });
        // }
      },
      // handleDelete(i, row) {
      //   if (confirm('Delete project ?')) {
      //     projectsApi.deletePage(Object.assign({}, row), function(r){

      //     });
      //   }
      // },
      handleClose() {
        this.formVisible = false;
      },
    }
  }
</script>


<style lang="scss">


</style>