<template>
  <header id="mainHeader">
    <h1 class="brand" v-once>{{ appTitle }}</h1>
    <span class="hamburger" @click="toggleSidebar">
      <i class="fa fa-bars"></i>
    </span>
    <span class="magnifier" @click="toggleSearchForm">
      <i class="fa fa-search"></i>
    </span>
    <search-form/>
    <user-badge/>
  </header>

</template>

<script>
export default {

  data () {
    return {

    }
  },
  methods: {
    /**
     * No I'm not documenting this.
     */
    toggleSidebar () {
      //event.emit('sidebar:toggle')
    },
    /**
     * or this.
     */
    toggleSearchForm () {
      //event.emit('search:toggle')
    }
  }
}
</script>