<template>
    <div class="toolbar">
        
        <div class="toolbar-left">
        	<slot></slot>
		</div>

        <div class="toolbar-right">
        	<slot name="right"></slot>
        </div>
        
    </div>
</template>

<script>

export default {
    name: 'Toolbar',
    data() {
        return {
            
        }
    }
}
</script>

<style lang="scss">
    @import '../../../sass/variables';
    
    $toolbar-height-two-lines: ($toolbar-height + ($baseline*2));

    .toolbar {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: space-between;
        align-items: center;
		height: $toolbar-height;
		/*line-height: $toolbar-height;*/
		padding: 0 ($baseline * 2);
		background-color: $toolbar-bg;
		color: #fff;
	}

	.toolbar-left,
	.toolbar-right {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

    .toolbar.two-lines {
        height: $toolbar-height-two-lines;
        line-height: $toolbar-height-two-lines;
    }
   
</style>