<template>
	<el-select v-if="!disabled" v-model="value" placeholder="Select project" @change="changed">
	    <el-option
	      v-for="project in projects"
	      :label="project.title"
	      :value="project.id">
	    </el-option>
	  </el-select>
</template>

<script>
import * as types from '../../store/mutation-types'

export default {
    data () {
      return {
        // value: ''
      } 
    },
    computed: {
		projects() {
			return this.$store.state.projects.all
		},
		value: {
		    get () {
		      	return this.$store.state.projects.currentProjectId;
		    },
		    set (newValue) {
		    	this.$router.push({ name: 'project.pages', params: { projectId: newValue }});
		    	this.$store.commit(types.CHANGE_CURRENT_PROJECT, newValue);
		    }
		},
		disabled() {
			// this.value = this.value ? parseInt(this.value) : ''; // Hot fix for repaint selected value
			return this.projects.length === 0;
		}
	},
	methods: {
		changed() {
			if (this.value) {
				this.$router.push({ name: 'project.pages', params: { projectId: this.value }});
			} else {
				this.$router.push({ name: 'projects'});
			}			
		}
	}
}
</script>