$baseline: 8px;

// theme
$panel-bg: #324157;
$subpanel-bg: darken($panel-bg, 10%);


// Body
$body-bg: #131D29;


// Links
$link-color: #337ab7;


// toolbar
$toolbar-height: ($baseline * 7);
$toolbar-bg: $panel-bg;







// Borders
/*
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$border-radius-base: 0;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
// $navbar-default-bg: #fff;
//$navbar-default-color: #bfcbd9;
$navbar-height: 60px;
//$navbar-default-color: #bfcbd9;
$navbar-default-brand-color: #bfcbd9;
$navbar-default-link-color: #bfcbd9;
$navbar-default-link-hover-color: #9fb1c6;
$navbar-default-link-active-color: #9fb1c6;
$navbar-default-bg: #324157;
$navbar-margin-bottom: 0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
*/