
// Fonts
/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);*/

// Variables
@import "variables"; 
@import "normalize";
@import "styles"; 

// Bootstrap
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/



// Dashboard
/*@import "dashboard";*/
 
/*
html, 
body {
    height: 100%;
}*/

/*body {
    padding-top: 60px;
}*/
 
/*.navbar {
	min-height: 60px;
	margin-bottom: 0;
}

.navbar-brand {
	padding-top: 18px;
	padding-bottom: 18px;
}

.navbar-form { 
    margin-top: 12px;
}*/

/* 
#app {
	display: flex;
	flex-direction: column;
	height: 100%;
} */

/*
#app main {
	position: relative;
	flex: 1 0 0px;
    overflow: auto;
}*/

/*.view {
	height: 100%;
}*/