body {
    padding-top: 60px;
}

.dashboard {
    
    padding-left: 0;
    padding-right: 0;

/*    aside {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        width: 220px;
        background-color: blue;
        z-index: 10;
    }
    
    main {
        margin-left: 300px;
    }*/
    
}