/*html, body {
	height: 100%;
}*/

* {
	box-sizing: border-box;	
}

body {
	background-color: $body-bg;
}


/* Links */
a {
	color: $link-color;	
}

/* Overrite default element.ui button style */
.toolbar .el-button--default {
	background-color: transparent;
	color: #fff;
}

.toolbar .el-button--default:hover {
	color: #20a0ff;
}


/* Empty message in lists */
.list-empty-message {
	padding: $baseline;
	color: #aaa;
	text-align: center;
}