<template>

<div class="page-item" v-bind:class="{ disabled: isDisabled }">

  <toolbar>
    {{ page.title }}
    <div slot="right">

    	<el-tooltip content="Add view" placement="top">
    		<el-button icon="plus" size="small" @click="addView"></el-button>
    	</el-tooltip>

		<el-tooltip content="Edit page" placement="top">
	    	<el-dropdown trigger="click" @command="handlePageMenuCommand">
			  	<el-button icon="more" size="small"></el-button> 
			  	<el-dropdown-menu slot="dropdown">
			    	<el-dropdown-item command="edit">Edit page</el-dropdown-item>
			    	<el-dropdown-item command="delete">Delete page</el-dropdown-item>
			  	</el-dropdown-menu>
			</el-dropdown>
		</el-tooltip>

    </div>
  </toolbar>
 
  <div class="page-item--views">

    <views-list-item 
        v-for="view in page.views" 
        v-bind:view="view"
        v-on:delete="deleteView"
        v-on:edit="editView">
    </views-list-item>

	<div v-if="!page.views.length" class="list-empty-message">
		no views yet
	</div>

  </div>

</div>

</template>

<script type="text/javascript">

import Toolbar from '../Toolbar'
import ViewsListItem from '../ViewsListItem'
import pagesApi from './../../api/page';

export default {
	name: 'PagesListItem',
	components: { Toolbar, ViewsListItem },
	props: [ 'page' ],
    data () {
      return {
        
      }
    },
 	computed: {
 		isDisabled() {
            return this.page.status == pagesApi.STATUS.DELETING;
        }
 	},
    methods: {

    	handlePageMenuCommand(command) {

    		switch(command) {

    			case 'edit':
    				this.editPage();
    				break;

    			case 'delete':
    				this.deletePage();	
    				break;

    			default:
    				console.warn('Undefined pagemenu command');	
    		}
    	},

    	editPage(page) {
    		this.$emit('edit', this.page);
    	},

    	deletePage(page) {
    		this.$emit('delete', this.page);
    	},

        addView() {
            this.$emit('addView', this.page);
        },

        editView(view) {
            this.$emit('editView', view);
        },

        deleteView(view) {
            this.$emit('deleteView', view);
        }

    }
  }
</script>

<style lang="scss">
    @import '../../../sass/variables';
    
    .page-item {
    	margin-bottom: $baseline;
    	background-color: $subpanel-bg;
    	border: 1px solid $panel-bg;
    }

    .page-item.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .page-item--views {
    	padding: $baseline;
    	color: #fff;
    }

</style>