<template>

<div class="list-empty-message">
    Select page view in sidebar
</div>

</template>
 
<script>

export default {
    name: 'ProjectIndex',
    components: {
 
    },
    data() {
        return {
            
        }
    },
    computed: {

    },
    methods: {

    },
}
</script>

<style lang="scss">

</style>