<template>
<div class="asset-viewer">

	<image-viewer v-if="image" v-bind:image="image"></image-viewer>

	<div class="asset-items">
		
		<el-badge :value="3">
			<el-button type="primary" icon="picture"></el-button>
		</el-badge>

	</div>
	 
</div>
</template>

<script>

import ImageViewer from '../ImageViewer'

export default {
	name: 'AssetViewer',
	components: { ImageViewer },
	props: [ 'asset' ],
    data () {
      return {
      	
      }
    },
 	computed: {

 		image() {
 			return this.asset.images.length > 0 ? this.asset.images[0] : false;
 		},

 	},

 	/*mounted() {

 		
 	},

 	watch: {


 	},*/

 	methods: {


 	}

}
</script>

<style lang="scss">
 	@import '../../../sass/variables';
    @import './style.scss';
</style>