$asset-sidebar-width: $baseline*9;


.asset-viewer {
	position: relative;
	width: 100%;
	height: 100%;
	padding-right: ($asset-sidebar-width+1px);
}



.asset-item {
	
}

.asset-items {
	position: absolute;
	top: 1px;
	right: 0;
	bottom: 0;
	width: $asset-sidebar-width;
	padding: $baseline;
	background-color: $panel-bg;
	text-align: center;
}


