<template>
	<div class="pages-list">

		<toolbar>
			<el-button type="primary" icon="plus" @click="showCreatePageForm">Add page</el-button>
		</toolbar>

		<div class="pages-list--items">
			<div v-if="!loading">

				<pages-list-item 
					v-for="page in pages" 
					:key="page.id"
					v-bind:page="page"
					v-on:delete="handleDeletePage"
					v-on:edit="showEditPageForm"
					v-on:addView="showCreateViewForm"
					v-on:editView="showEditViewForm"
					v-on:deleteView="handleDeleteView">
				</pages-list-item>

				<div v-if="!countPages" class="list-empty-message">
					no pages yet
				</div>

			</div>

			<div v-if="loading" class="pages-list--loading">
				loading...
			</div>
		</div>


		<el-dialog :title="pageFormTitle" v-model="pageFormVisible" size="tiny">
      
      		<page-form v-if="pageFormVisible" 
      			v-bind:page="editablePage" 
      			v-on:submit="handleSavePage" 
      			v-on:cancel="closePageForm">
      		</page-form>

		</el-dialog>


		<el-dialog :title="viewFormTitle" v-model="viewFormVisible" size="tiny">
      
      		<view-form  v-if="viewFormVisible" 
      			v-bind:view="editableView"
      			v-on:submit="handleSaveView" 
      			v-on:cancel="closeViewForm">
      		</view-form>

		</el-dialog>

	</div>
</template>

<script>
import pagesApi from './../../api/page';
import pageViewsApi from './../../api/pageview';
import { Message } from 'element-ui';

import Toolbar from '../Toolbar'
import PagesListItem from '../PagesListItem'
import PageForm from './page-form'
import ViewForm from './view-form'

export default {
	name: 'PagesList',
	components: {
		Toolbar, PagesListItem, PageForm, ViewForm
	},
    data () {
      return {
        pageFormVisible: false,
        viewFormVisible: false,
        editablePage: {},
        editableView: {}
      }
    },
 	computed: {
 		pages() {
 			return this.$store.state.pages.all;
 		},
 		countPages() {
			return this.$store.getters.countPages;
 		},
 		loading() {
 			return this.$store.state.pages.loading;
 		},
 		pageFormTitle() { 
	        return this.editablePage.id ? 'Edit page' : 'Add page';
	    },
	    viewFormTitle() { 
	        return this.editableView.id ? 'Edit pageview' : 'Add pageview';
	    }
	},
	methods: {

		showCreatePageForm() {
			this.editablePage = { recipe: 0 };
			this.pageFormVisible = true;
		},

		showEditPageForm(page) {
			this.editablePage = Object.assign({}, page);
			this.pageFormVisible = true;
		},

		handleSavePage() {
			let _this = this;
	        if (this.editablePage.id) {
	          	pagesApi.updatePage(this.editablePage, function(r){
	            	_this.closePageForm();
	            	Message.success({ message: 'Page saved'});
	          	});
	        } else {
	        	pagesApi.createPage(this.$store.state.projects.currentProjectId, this.editablePage, function(r){
	        		_this.closePageForm();
	        		Message.success({ message: 'Page created'});
	        	});
	        }
	    },

	    handleDeletePage(page) {
	        if (confirm('Delete page ?')) {
	          	pagesApi.deletePage(Object.assign({}, page), function(r){
	          		Message.info({ message: 'Page deleted'});
	          	});
	        }
	    },

	    closePageForm() {
	      	this.pageFormVisible = false;
	      	this.editablePage = {};
	    },

	    showCreateViewForm(page) {
	    	// console.log('showCreateViewForm');
	    	this.editableView = { page_id: page.id, title: '' };
			this.viewFormVisible = true;
	    },

	    showEditViewForm(view) {
	    	console.log('showEditViewForm');
	    	this.editableView = Object.assign({}, view);
			this.viewFormVisible = true;
	    },

	    handleSaveView() {
	    	// console.log('handleSaveView');
			let _this = this;
	        if (this.editableView.id) {
	          	pageViewsApi.updateView(this.editableView, function(r){
	            	_this.closeViewForm();
	            	Message.success({ message: 'PageView saved'});
	          	});
	        } else {
	        	pageViewsApi.createView(this.editableView, function(r){
	        		_this.closeViewForm();
	        		Message.success({ message: 'PageView created'});
	        	});
	        }
	    },

	    handleDeleteView(view) {
	        if (confirm('Delete view ?')) {
	          	pageViewsApi.deleteView(Object.assign({}, view), function(r){
	          		Message.info({ message: 'View deleted'});
	          	});
	        }
	    },

	    closeViewForm() {
	      	this.viewFormVisible = false;
	      	this.editableView = {};
	    },
	  }
  }
</script>

<style lang="scss">
	@import '../../../sass/variables';

	.pages-list {
		display: flex;
		flex-direction: column;
		max-height: 100%;
	}

	.pages-list--items {
		position: relative;
		padding: $baseline;
		border: 1px solid $panel-bg;
		background-color: $body-bg;
		overflow-y: auto;
	}

	.pages-list--loading {
		padding: $baseline;
		color: #fff;
		text-align: center;
	}
</style>