<template>
	<el-form 
		:model="page" 
		:rules="rules" 
		ref="pageForm"
		label-position="top"
		v-on:submit.prevent 
		v-on:keyup.enter="submit">

      	<input type="hidden" v-model="page.id">

      	<el-form-item label="Title" prop="title">
        	<el-input placeholder="page title (ex: homepage)" v-model="page.title"></el-input>
      	</el-form-item>

      	<el-form-item label="Precreate views" >
		    <el-select v-model="page.recipe" placeholder="Select" style="width: 100%;">
			    <el-option
			      v-for="recipe in recipes"
			      :label="recipe.label"
			      :value="recipe.value">
			    </el-option>
			</el-select>
		</el-form-item>


		<el-form-item>
		    <el-button @click="cancel">Cancel</el-button>
		    <el-button type="primary" @click="submit">Save</el-button>
		</el-form-item>

    </el-form>
</template>

<script>

export default {
	name: 'PageForm',
	props: [ 'page' ],
	data() {
		return {
			rules: {
	          	title: [
	            	{ required: true, message: 'Please input page title' },
	            	{ max: 100, message: 'Max length 100 characters' }
	          	]
		    },
		    recipes: [
		    	{
		          value: 0,
		          label: 'none'
		        }, {
		          value: 1,
		          label: 'default'
		        }, {
		          value: 2,
		          label: 'mobile/tablet/desktop'
		        }
		    ]
		};
	},
	methods: {
		submit() {
			this.$refs['pageForm'].validate((valid) => {
	          	if (valid) {
	            	this.$emit('submit');
	          	} else {
	            	return false;
	          	}
	        });			
		},
		cancel() {
			this.$refs['pageForm'].resetFields();
			this.$emit('cancel');
		},
	}
};

</script>