<template>
	<el-form 
		:model="view" 
		:rules="rules" 
		ref="viewForm"
		v-on:submit.prevent>

      	<input type="hidden" v-model="view.id">
      	<input type="hidden" v-model="view.page_id">

      	<el-form-item label="Title" prop="title">
        	<el-input placeholder="view title (ex: mobile, desktop, etc)" v-model="view.title"></el-input>
      	</el-form-item>

      	<el-form-item>
		    <el-button @click="cancel">Cancel</el-button>
		    <el-button type="primary" @click="submit">Save</el-button>
		</el-form-item>

    </el-form>
</template>

<script>

export default {
	name: 'ViewForm',
	props: [ 'view' ],
	data() {
		return {
			rules: {
	          	title: [
	            	{ required: true, message: 'Please input view title' },
	            	{ max: 100, message: 'Max length 100 characters' }
	          	]
		    }
		};
	},
	methods: {
		submit() {
			this.$refs['viewForm'].validate((valid) => {
	          	if (valid) {
	            	this.$emit('submit');
	          	} else {
	            	return false;
	          	}
	        });		
		},
		cancel() {
			this.$refs['viewForm'].resetFields();
			this.$emit('cancel');
		},
	}
};

</script>