<template>
	<div class="pageview">

		<div v-if="!view" class="list-empty-message">
			Loading
		</div>

		<div v-if="view" class="pageview-layout">

			<toolbar>

				{{ page.title }} / {{ view.title }} /

        <select v-if="revisionsCount" v-model="revisionId" class="revision-selector">
          <option v-for="item in revisions" :value="item.id">
            R{{ item.version }}
          </option>
        </select>

				<div slot="right">

          <el-tooltip content="Update source" placement="bottom">
					   <el-button @click="showUploader" icon="upload2"></el-button>
          </el-tooltip>

          <el-tooltip content="More actions" placement="bottom" v-if="revision">
              <el-dropdown trigger="click" @command="handleRevisionMenuCommand">
                  <el-button icon="more"></el-button> 
                  <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="showUploader">Update source</el-dropdown-item>
                      <el-dropdown-item command="downloadSource" 
                        v-if="revision.sources && revision.sources.length">Download source</el-dropdown-item>
                      <el-dropdown-item command="deleteRevision" v-if="revisionId">Delete revision</el-dropdown-item>
                  </el-dropdown-menu>
              </el-dropdown>
          </el-tooltip>

				</div>

			</toolbar>

			<router-view class="view"
          v-on:downloadsource="downloadSource">
      </router-view>

		</div>
		
	</div>
</template>

<script>
import Toolbar from '../Toolbar'
import revisionApi from './../../api/revision';
import { events, REMOTE_REVISION_DELETING } from './../../utils/events';
import { Message } from 'element-ui';

export default {
	name: 'PageView',
	components: { Toolbar },
    data () {
      return {
       // revision: {}
      }
    },
 	computed: {
 		page() {
 			return this.$store.getters.currentPage;
 		},
 		view() {
 			return this.$store.getters.currentView;
 		},
    revisions() {
      return _.orderBy(this.$store.state.revisions.all, 'version', 'desc');
      // return _.values(this.$store.state.revisions.all);
    },
    revisionsCount() {
      return this.$store.getters.countRevisions;
    },
    revisionId: {
      get() {
        return this.$store.state.revisions.currentRevisionId;
      },
      set(selected) {
        if (selected) {
          this.showRevision(selected);
        }
      }
    },
    revision(){
      return this.$store.getters.currentRevision;
    }

 	},
 	watch: {
 		 '$route'(to, from) {
   			this.$store.dispatch('switchView', { 
   				pageId: to.params.pageId, 
   				viewId: to.params.viewId 
   			})
        .then(() => this.$store.dispatch('loadRevisions'));
      }
 	},
  created() {
    this.$store.dispatch('loadRevisions');
  },
 	mounted() {
 		events.on(REMOTE_REVISION_DELETING, this.onRevisionDeleted);
 	},
  beforeDestroy() {
    events.off(REMOTE_REVISION_DELETING, this.onRevisionDeleted);
  },
  methods: {

  		showUploader() {
  			this.$router.push({ name: 'project.view.upload', params: { 
  				  pageId: this.page.id, 
 				    viewId: this.view.id 
  			}});
  		},

      showRevision(revisionId) {
        this.$router.push({ name: 'project.view.revision', params: { 
            revisionId
        }});
      },

      showLastRevision() {
        if (!this.revisionsCount) {
            this.showUploader();
        } else {
            // console.log(_this.revisions);console.log(_.last(_this.revisions));
            // console.log(_.find(this.revisions).id);
            this.showRevision(_.find(this.revisions, function(r) { 
              return r.status != revisionApi.STATUS.DELETING; 
            }).id)
        }
      },

      downloadSource() {
        window.open('/download/' + this.revisionId + '/');
      },

      deleteRevision() {
        if (confirm('Delete revision with sources ?')) {
          let _this = this;
          revisionApi.deleteRevision(Object.assign({}, this.revision), function(r){
            Message.info({ message: 'Revision deleting'});
            _this.showLastRevision();
          });
        }
      },

      onRevisionDeleted(e) {
        if (e.revision.id == this.revisionId) {
          Message.warning({ message: 'Please, select another revision' });
          this.showLastRevision();
        }
      },

      handleRevisionMenuCommand(command) {

        switch(command) {

          case 'showUploader':
            this.showUploader();
            break;

          case 'downloadSource':
            this.downloadSource();
            break;

          case 'deleteRevision':
            this.deleteRevision();  
            break;

          default:
            console.warn('Undefined revmenu command'); 
        }

      },

    }
  }
</script>

<style lang="scss">
    @import '../../../sass/variables';
    
  	.pageview {
		  padding-left: 1px;
  	}

  	.pageview-layout {
  		display: flex;
  		flex-direction: column;
  		height: 100%;
  	}

    .revision-selector {
      margin-left: $baseline;
      color: #48576a;
    }

</style>