<template>
    <toolbar>

        <a class="app-name" href="#">DesDev</a>

        <app-toolbar-menu slot="right"></app-toolbar-menu>

    </toolbar>
</template>

<script>
import Toolbar from '../Toolbar'
import AppToolbarMenu from '../AppToolbarMenu'

export default {
    name: 'AppToolbar',
    data() {
        return {
            
        }
    },
    methods: {
        
    },
    components: {
        Toolbar, AppToolbarMenu
    }
}
</script>

<style lang="scss">
    @import '../../../sass/variables';

    .toolbar .app-name {        
        font-size: 18px;
        text-decoration: none;
    }
</style>