<template>

<div class="view-item" v-bind:class="{ active: isActive }">

  <toolbar class="two-lines">

    <div class="view-item--data">

        <router-link class="view-item--name" :to="viewRoute">
            {{ view.title }}
        </router-link>

        <div class="view-item--meta">
          
            <span v-if="view.count_revisions">revs: {{ view.count_revisions }}</span>
            <span v-if="!view.count_revisions">no revs</span>
            <span v-if="updating">| updating...</span>
            <span v-if="deleting">| deleting...</span>

        </div>
    </div>

    <el-tooltip content="Edit view" placement="right" slot="right">
        <el-dropdown trigger="click" @command="handleViewMenuCommand">
            <el-button icon="more" size="small"></el-button> 
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="edit">Edit view</el-dropdown-item>
                <el-dropdown-item command="delete">Delete view</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-tooltip>
    
  </toolbar>

  

</div>

</template>

<script>

import Toolbar from '../Toolbar'
import pageViewsApi from './../../api/pageview';

export default {
	name: 'ViewsListItem',
	components: { Toolbar },
	props: [ 'view' ],
    data () {
      return {
        
      }
    },
 	computed: {

 		viewRoute() {
            if (this.view.count_revisions > 0) {
                return {
                    name: 'project.view.revision',
                    params: {
                        pageId: this.view.page_id,
                        viewId: this.view.id,
                        revisionId: this.view.latest_revision
                    }
                };
            } else {
                return {
                    name: 'project.view.upload',
                    params: {
                        pageId: this.view.page_id,
                        viewId: this.view.id,
                    }
                };
            }
        },

        isActive() {
            return this.$route.params.viewId 
                && this.$route.params.viewId == this.view.id;
        },

        updating() {
            return this.view.status === pageViewsApi.STATUS.OK_UPDATING;
        },

        deleting() {
            return this.view.status === pageViewsApi.STATUS.DELETING;
        }

 	},

    methods: {
        
    	handleViewMenuCommand(command) {

    		switch(command) {

    			case 'edit':
    				this.editView();
    				break;

    			case 'delete':
    				this.deleteView();	
    				break;

    			default:
    				console.warn('Undefined viewmenu command');	
    		}
    	},

    	editView() {
    		this.$emit('edit', this.view);
    	},

    	deleteView() {
    		this.$emit('delete', this.view);
    	}
    
    }
  }
</script>

<style lang="scss">
    @import '../../../sass/variables';

    .view-item {
        border: 1px solid $panel-bg;
    }
    
    .view-item:not(:last-child) {
        margin-bottom: $baseline;
    }

    .view-item.active {
        border-color: $link-color;
    }

    .view-item--data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 185px;
        height: 100%;
    }

    .view-item--name {
        line-height: ($baseline * 3);
    }

    .view-item--meta {
        font-size: 14px;
        color: #aaa;
        line-height: ($baseline * 3);
    }
</style>