<template>

    <el-menu theme="dark" mode="horizontal" router>
            
        <el-submenu index="1">
            <template slot="title">{{ user.name }}</template>
            <el-menu-item index="/">Projects</el-menu-item>
            <el-menu-item index="logout" @click="logout">Logout</el-menu-item>
        </el-submenu>

        
    </el-menu>

</template>

<script>
export default {
    name: 'AppToolbarMenu',
    data() {
        return {
            
        }
    },
    computed: {
        user() {
            return this.$store.state.auth.user;
        }
    },
    methods: {
        logout() {
            axios.post('/logout').then(function(){
                location.href = '/';
            });
        }
    },
    components: {
        
    }
}
</script>

<style lang="scss">
    @import '../../../sass/variables';
    
    #app .el-menu--horizontal .el-submenu .el-submenu__title {
        height: $toolbar-height;
        line-height: $toolbar-height;
    }
</style>