<template>

    <div class="project-app">

        <aside class="app-sidebar">
            <el-tabs v-model="activeSidebarTab">

                <el-tab-pane label="Pages" name="pages">
                    
                    <pages-list></pages-list>

                </el-tab-pane>

                <!--el-tab-pane label="Navigation" name="second">
                    Config
                </el-tab-pane-->

            </el-tabs>
        </aside>

        <router-view class="view"></router-view>

    </div>

</template>
 
<script>
import PagesList from '../PagesList'

// import Vue from 'vue'
import { events/*, REMOTE_PAGE_CREATED, REMOTE_PAGE_UPDATED, REMOTE_PAGE_DELETED*/ } from '../../utils/events';

export default {
    name: 'Project',
    components: {
        PagesList
    },
    data() {
        return {
            activeSidebarTab: 'pages'
        }
    },
    computed: {

    },
    
    created() {
      this.init();
    },
    beforeRouteLeave (to, from, next) {
        events.destroyProjectBroadcastEvents();
        next();
    },
    watch: {
        '$route'(to, from) {
            if (to.params.projectId != from.params.projectId) {
                this.init();
            }
        }
    },
    methods: {

        init() {
            events.listenProjectBroadcastEvents();
            this.loadPages();

        },

        loadPages() {
            this.$store.dispatch('loadPages');
        }

    },

}
</script>

<style lang="scss">

    @import '../../../sass/variables';

    $sidebar-width: 280px;

    .project-app {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        padding: 1px;
    }

    .app-sidebar {
        width: $sidebar-width;
        background-color: $panel-bg;
    }

    .app-sidebar .el-tabs {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .app-sidebar .el-tabs__content {
        flex: 1;
    }
    
    .app-sidebar .el-tabs__item {
        height: $toolbar-height;
        line-height: $toolbar-height;
    }

    .app-sidebar .el-tab-pane {
        height: 100%;
    }


    .view {
        height: 100%;
        flex: 1;
        /*margin-left: $sidebar-width;*/
        overflow: auto;
    }
 
</style>