<template>
	<div class="revision-viewer" v-if="revision">
		
		<div v-if="deleting" class="list-empty-message">Deleting...</div>

		<div v-if="ready && !asset" class="revision-view--basic">
			<el-button v-if="revision.sources && revision.sources.length" @click="downloadSource" type="primary">Download source</el-button>
			<div class="revision-view--basic__status">{{ textStatus }}</div>
		</div>


		<asset-viewer v-if="ready && asset" v-bind:asset="asset"></asset-viewer>


	</div>
</template>

<script> 

import revisionsApi from './../../api/revision';
// import { events, REMOTE_REVISION_DELETING } from './../../utils/events';
// import { Notification } from 'element-ui';
import AssetViewer from '../AssetViewer';

export default {
	name: 'RevisionViewer',
	components: {  AssetViewer },
    data () {
      return {
      	asset: false,
      	assetLoading: false
      }
    },
 	computed: {
 		revision() {
 			return this.$store.getters.currentRevision;
 		},
 		deleting() {
        return this.revision && this.revision.status === revisionsApi.STATUS.DELETING;
    },
    ready() {
    	return !this.deleting;
    },
    textStatus() {
    	if (this.revision.status == revisionsApi.STATUS.UPLOADING) {
    		return 'source uploading...';
    	}
    	if (this.revision.status == revisionsApi.STATUS.UPLOADED) {
    		return 'assets not available';
    	}
    	if (this.revision.status == revisionsApi.STATUS.ERROR_UPLOAD) {
    		return 'upload error';
    	}
    	if (this.revision.status == revisionsApi.STATUS.EXTRACTING) {
    		return 'assets extracting...';
    	}
    	if (this.revision.status == revisionsApi.STATUS.DELETING) {
    		return 'revision deleting...';
    	}
    }
 	}, 
 	watch: {
 		'$route'(to, from) {
   			this.$store.dispatch('switchRevision', to.params.revisionId);
   			// console.log('RevisionViewer', to.params.viewId, from.params.viewId);
   			// if (to.params.viewId != from.params.viewId) {
	   		// 	this.$store.dispatch('loadRevisions');
	   		// }
      	},
      	revision() {

      		if (!this.revision) {
      			return;
      		}

      		if (!this.asset && this.revision.asset_id) {
      			this.loadAsset();
      			return;
      		}

      		if (this.asset && this.asset.id != this.revision.asset_id) {
      			this.loadAsset();
      			return;
      		}
      	}
 	},
 	mounted() {
 		if (this.revision && this.revision.asset_id) {
 			this.loadAsset();
 		}
 	},
 	// beforeDestroy() {
 	// 	events.off(REMOTE_REVISION_DELETING, this.onRevisionDeleted);
 	// },
 	methods: {

 		downloadSource() {
 			this.$emit('downloadsource', this.revision);
	    },

	    loadAsset() {

	    	if (!this.revision || !this.revision.asset_id) {
	    		this.asset = false;
	    		return;
	    	}

	    	if (this.assetLoading == this.revision.asset_id) {
	    		return;
	    	}

	    	this.assetLoading = this.revision.asset_id;

	    	let _this = this;

	    	revisionsApi.getAsset(this.revision, function(asset) {
	    		_this.asset = asset; 
	    		_this.assetLoading = false;
	    	});
	    }
 	}	
 }
</script>

<style lang="scss">
    @import '../../../sass/variables';
	
	.revision-viewer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
	}

	.revision-view--basic {
		text-align: center;
	}

	.revision-view--basic__status {
		padding: ($baseline * 2);
	}

</style>