<template>
	<div class="image-viewer">

		<div class="image-viewer--view-area">

			<div v-bind:style="wrapperStyle" class="image-viewer--wrapper alpha-mask" id="image" v-on:wheel.prevent="onWheelZoom">
				<div v-bind:style="imageStyle" class="image-viewer--layer-image"></div>
			</div>
			
		</div>

		<toolbar class="image-viewer--view-toolbar">

			<el-slider v-model="zoom" 
				:min="minZoom" 
				:max="maxZoom" 
				:step="zoomStep" 
				@change="changeZoom"
				class="zoom-slider">
			</el-slider> 

			<span>{{ zoom }}%</span>

		</toolbar>

	</div>
</template>

<script>

import '../../../vendors/panzoom/jquery.panzoom.js';

import Toolbar from '../Toolbar'

export default {
	name: 'ImageViewer',
	components: { Toolbar },
	props: [ 'image' ],
    data () {
      return {
      	zoom: 100,
      	maxZoom: 200,
      	minZoom: 30,
      	zoomStep: 5,
      	panzoom: null
      }
    },
 	computed: {
 		
 		// image() {
 		// 	return this.asset.images[0];
 		// },

 		wrapperStyle() {
 			// const halfHeight = Math.round(this.image.height/2);
 			// const halfWidth = Math.round(this.image.width/2);

 			return {
 				'width': this.image.width + 'px',
 				'height': this.image.height + 'px',
 				// 'margin-top': '-' + halfHeight + 'px',
 				// 'margin-left': '-' + halfWidth + 'px',
 				// 'transform': 'scale(' + this.zoom/100 + ')'
 			};
 		},

 		imageStyle() {
 			return {
 				'background-image': 'url(' + this.image.url + ')',
 				'padding-bottom': this.image.ratio + '%'
 			};
 		},

 	},

 	mounted() {

 		let _this = this;

 		this.panzoom = $(document.getElementById('image')).panzoom({
 			// contain: 'invert',
 			contain: 'automatic',
 			minScale: this.minZoom/100,
  			maxScale: this.maxZoom/100,
  			increment: this.zoomStep/100,
  			linearZoom: true
 		});

 		// this.panzoom.panzoom('zoom');

 		this.panzoom.parent().on('mousewheel', function( e ) {
	        e.preventDefault();
	        
	    });

	    this.panzoom.on('panzoomchange', function(e, panzoom, transform){
	    	// console.log(panzoom);
	    	_this.zoom = Math.round(panzoom.scale * 100);
	    });

	    // console.log(this.panzoom);

	    this.fitInImage();
 	},

 	watch: {

 		image() {
 			// this.panzoom.panzoom("reset");
 			// this.panzoom.panzoom('zoom');
 			// this.viewer.refresh();
 			// this.viewer.load(this.image.url, this.image.url);
 			this.fitInImage();
 			this.panzoom.panzoom("reset");
 		}

 	},

 	methods: {

 		changeZoom() {
 			this.panzoom.panzoom('zoom', this.zoom/100);
 		},

 		onWheelZoom(e) {
 			// const focal = this.middlePoint();
	        this.panzoom.panzoom('zoom', (e.deltaY > 0), {
	          	animate: false,
	          	focal: e
	        });
 		},

 		middlePoint() {
 			return {
 				clientX: 516,
 				clientY: 483
 			};
 		},

 		fitInImage() {
 			const boxWidth = this.$el.clientWidth;
 			const imageWidth = this.image.width + 80;
 			const cZoom = _.ceil(boxWidth / (imageWidth), 1)*100;
 			// console.log(cZoom);
 			this.zoom = _.min([ cZoom, 100 ]);
 			// console.log(this.zoom/100);
 			this.panzoom.panzoom('zoom', this.zoom/100);
 		}

 	}

}
</script>

<style lang="scss">
 	@import '../../../sass/variables';
    @import './style.scss';
</style>