<template>
	<div>
	
		<el-card id="box-card">

			<div slot="header" class="clearfix">
			    <span style="line-height:36px;">Projects</span>
			    <el-button type="primary" @click="handleCreate">Create</el-button>
			</div>

			<el-table
				:data="projects"
				v-loading.body="loading"
				empty-text="no projects"
				border>

				<el-table-column
			        label="Title">
			        <template scope="scope">
						<router-link 
							:to="{ name: 'project', params: { projectId: scope.row.id }}">
								{{ scope.row.title }}
						</router-link>
					</template>
				</el-table-column>

				<el-table-column :context="_self" label="Operations"
			        width="155">
					<template scope="scope">
						<el-button
							size="small"
							@click="handleEdit(scope.$index, scope.row)">Edit</el-button>
						<el-button
							size="small"
							type="danger"
							@click="handleDelete(scope.$index, scope.row)">Delete</el-button>
					</template>
				</el-table-column>

			</el-table>


			<el-dialog :title="formTitle" v-model="formVisible" size="tiny">
				
				<el-form v-model="editableProject" v-on:submit.prevent>

					<input type="hidden" v-model="editableProject.id">

					<el-form-item label="Title">
						<el-input placeholder="my project" v-model="editableProject.title"></el-input>
					</el-form-item>

				</el-form>

				<span slot="footer" class="dialog-footer">
					<el-button @click="handleClose">Cancel</el-button>
					<el-button type="primary" @click="handleSave">Save</el-button>
				</span>

			</el-dialog>
			

		</el-card>

	</div>
</template>

<script>
import projectsApi from './../../api/project';

export default {
    data () {
      return {
      	formVisible: false,
      	editableProject: {}
         // loading: false
      }
    },
    computed: {
		projects() {
			return _.values(this.$store.state.projects.all)
		},
		loading() {
			return this.$store.state.projects.loading
		},
		formTitle() { 
			return this.editableProject.id ? 'Edit project' : 'Add project';
		}
    },
    methods: {
    	handleCreate() {
    		this.editableProject = {};
    		this.formVisible = true;
    	},
    	handleEdit(i, row) {
    		this.editableProject = Object.assign({}, row);
    		this.formVisible = true;
    	},
    	handleSave() {
    		
    		let _this = this;

    		if (this.editableProject.id) {
				projectsApi.updateProject(this.editableProject, function(r){
    				_this.formVisible = false;
    			});
    		} else {
    			projectsApi.saveProject(this.editableProject, function(r){
	    			_this.formVisible = false;
	    		});
    		}
    	},
    	handleDelete(i, row) {
    		if (confirm('Delete project ?')) {
				projectsApi.deleteProject(Object.assign({}, row), function(r){

				});
    		}
    	},
    	handleClose() {
    		this.formVisible = false;
    	},
    }
}
</script>

<style scoped>
#box-card {
	max-width: 600px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#box-card .el-card__header h4 {
	float: left;
}

#box-card .el-card__header .el-button {
	float: right;
}
</style>