<template>
	<div class="view-uploader">
		
		<div v-if="!uploading" class="view-uploader--wrapper">
			<div class="view-uploader--label">Select image file ( JPG, PNG ) or photoshop document ( PSD )</div>
			<el-button id="button" type="primary">Select file</el-button>
		</div>

		<div v-if="uploading" class="view-uploader--wrapper">
			<div class="view-uploader--label">uploading...</div>
			<el-progress :percentage="progress" :show-text="false"></el-progress>
		</div>

		<div v-if="error" class="view-uploader--wrapper">
			<div class="view-uploader--label">Error while loading file</div>
		</div>

	</div>
</template>

<script>

import plupload from 'plupload';
import revisionsApi from './../../api/revision';
import { events, REMOTE_PAGEVIEW_DELETED } from './../../utils/events';
import { Notification } from 'element-ui';

export default {
	name: 'ViewUploader',
	components: {  },
    data () {
      return {
      	uploader: null,
        uploading: false,
        progress: 0,
        error: false,
        revision: null
      }
    },
 	computed: {
 		button() {
 			return this.$el.querySelector('#button');
 		}
 	}, 
 	mounted() {
 		events.on(REMOTE_PAGEVIEW_DELETED, this.onPageViewDeleted);
 		this.initUploader();
 	},
 	beforeDestroy() {
 		// console.log('ViewUploader beforeDestroy');
 		events.off(REMOTE_PAGEVIEW_DELETED, this.onPageViewDeleted);
 		this.destroyUploader();
 	},
 	methods: {
 		uploadUrl() {
 			return '/upload/' + (this.revision ? this.revision.id + '/' : '');
 		},

 		initUploader() {

 			let _this = this;

 			this.uploader = new plupload.Uploader({
 				runtimes: 'html5',
			  	browse_button: this.button,
			  	chunk_size: '1mb',
			  	url: this.uploadUrl(),
			  	filters: {
				  mime_types : [
				    { title : "Image files", extensions : "jpg,png" },
				    { title : "Photoshop files", extensions : "psd" }
				  ]
				},
			  	headers: {
			    	'X-CSRF-TOKEN': window.data.csrfToken
			  	},
			});

 			this.uploader.bind('BeforeUpload', function(up, files) {
 				_this.error = false;
				_this.uploading = true;
			});
			

			this.uploader.bind('FilesAdded', function(up, files) {
				_this.createRevisionAndStartUpload();
			});

			this.uploader.bind('UploadProgress', function(up, file) {
				_this.progress = file.percent;
			});

			this.uploader.bind('Error', function(up, error) {

				console.error('plupload.error', error);

				_this.error = true;
				_this.uploading = false;

				if (error.code === plupload.FILE_SIZE_ERROR) {
					alert('FILE_SIZE_ERROR');
					return;
				}

				if (error.code === plupload.FILE_EXTENSION_ERROR) {
					alert('FILE_EXTENSION_ERROR');
					return;
				}

				_this.revision.status = revisionsApi.STATUS.ERROR_UPLOAD;
				revisionsApi.updateRevision(_this.revision, function(){
					
				});
			});

			this.uploader.bind('FileUploaded', function(up, file) {
				_this.$router.push({ name: 'project.view.revision', params: { 
		            revisionId: _this.revision.id
		        }});
			});

			this.uploader.init();
 		},

 		destroyUploader() {
 			this.uploader.destroy();
 		},

 		createRevisionAndStartUpload() {

 			let _this = this;

 			revisionsApi.createRevision({
 				pageview_id: this.$store.state.pages.currentViewId,
 				status: revisionsApi.STATUS.UPLOADING
 			}, function(revision){
 				_this.revision = revision;
 				_this.uploader.setOption('url', _this.uploadUrl());
 				_this.uploader.start();
 			});
 		},

 		onPageViewDeleted(e) {
 			if (e.view.id == this.$store.state.pages.currentViewId) {
 				Notification.warning({ 
 					title: 'Current pageview was deleted',
 					message: 'Please, select another pageview'
 				});
 				this.gotoProjectIndex();
 			}
 		},

 		gotoProjectIndex() {
 			this.$router.push({
				name: 'project',
				params: { 
					projectId: this.$store.state.projects.currentProjectId 
				}
			});
 		}
 	}	
 }
</script>

<style lang="scss">
    @import '../../../sass/variables';
	
	.view-uploader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 100px;
	}

	.view-uploader--label {
		padding: $baseline;
		/*text-align: center;*/
		color: #fff;
	}

	.view-uploader--wrapper {
		width: 50%;
		text-align: center;
	}

</style>